<main class="mx-4 mt-[88px] md:mt-[171px]">
  <div class="mx-auto bg-white px-6 py-12 rounded-3xl rounded-br-[100px] md:p-14 md:rounded-br-[200px] max-w-[840px]">
    <section>
      <form (ngSubmit)="onSubmit()" [formGroup]="ageForm" class="">
        <div class="flex space-x-4 md:space-x-8">
          <div class="max-w-[160px]">
            <label for="day">Day</label>
            <input type="text" id="day" formControlName="birthDay" name="day" placeholder="DD" maxlength="2">
            <p *ngIf="!ageForm.get('birthDay')?.valid && ageForm.get('birthDay')?.touched">
              <ng-container *ngFor="let error of getErrors('birthDay')">{{error}}</ng-container>
            </p>
          </div>
          <div class="max-w-[160px]">
            <label for="month">Month</label>
            <input type="text" id="month" formControlName="birthMonth" name="month" placeholder="MM" maxlength="2">
            <p *ngIf="!ageForm.get('birthMonth')?.valid && ageForm.get('birthMonth')?.touched">
              <ng-container *ngFor="let error of getErrors('birthMonth')">{{error}}</ng-container>
            </p>
          </div>
          <div class="max-w-[160px]">
            <label for="year">Year</label>
            <input type="text" id="year" formControlName="birthYear" name="year" placeholder="YYYY" maxlength="4">
            <p *ngIf="!ageForm.get('birthYear')?.valid && ageForm.get('birthYear')?.touched">
              <ng-container *ngFor="let error of getErrors('birthYear')">{{error}}</ng-container>
            </p>
          </div>
        </div>
        <div class="my-8 md:my-0 flex justify-center md:justify-end after:content-[''] after:w-full after:absolute relative after:border after:border-line after:bottom-[50%]">
          <button type="submit" class="relative z-10 size-16 md:size-24 rounded-full bg-purple flex justify-center items-center hover:bg-black">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="44" viewBox="0 0 46 44">
              <g fill="none" stroke="#FFF" stroke-width="2">
                <path d="M1 22.019C8.333 21.686 23 25.616 23 44M23 44V0M45 22.019C37.667 21.686 23 25.616 23 44" />
              </g>
            </svg>
          </button>
        </div>

      </form>
    </section>
    <section>
      <h1><span>{{ age.years }}</span>years</h1>
      <h1><span>{{age.months}}</span>months</h1>
      <h1><span>{{age.days}}</span>days</h1>
    </section>
  </div>
</main>
